ðŸ¦œ Uncomment the following code for the [TidyTuesday Bird Bath dataset](https://github.com/rfordatascience/tidytuesday/tree/master/data/2021/2021-08-31).ðŸ¦‰

In [9]:
library('tidyverse')

In [10]:
df_birdbath = read_csv(
    'https://github.com/rfordatascience/tidytuesday/blob/master/data/2021/2021-08-31/bird_baths.csv?raw=true',
    col_types = cols()
)

df_birdbath |> head (6)

  survey_year urban_rural bioregions               bird_type
1 2014        Urban       South Eastern Queensland Bassian Thrush
2 2014        Urban       South Eastern Queensland Chestnut-breasted Mannikin
3 2014        Urban       South Eastern Queensland Wild Duck
4 2014        Urban       South Eastern Queensland Willie Wagtail
5 2014        Urban       South Eastern Queensland Regent Bowerbird
6 2014        Urban       South Eastern Queensland Rufous Fantail
  bird_count
1 0
2 0
3 0
4 0
5 0
6 0

Each row represents the number of times a type of bird was observed at a bird bath in the survey year.

We want to just work with the most numerous birds for baths that have been categorized as "Urban" or "Rural."

Find the top fifteen bird types by total `bird_count` after filtering out baths where `urban_rural` category is not provided. Capture this vector with a variable called `top15_bird_types`. 

Hint: remember `pull` and `slice_max`

In [24]:
df_birdbath |> 
                filter (urban_rural %in% c('Urban', 'Rural')) |>
                group_by (bird_type) |>
                summarize (total_bird_count = sum(bird_count, na.rm=T)) 
                arrange(desc(total_bird_count)) |>
                slice_max (total_bird_count, n = 15) |>
                pull (bird_type)

    bird_type                    total_bird_count
1   Apostlebird                    2
2   Australasian Figbird           6
3   Australian Brush-turkey       10
4   Australian King-parrot        63
5   Australian Magpie            262
6   Australian Raven              42
7   Australian Ringneck            2
8   Australian White Ibis          7
9   Bar-shouldered Dove           29
10  Bassian Thrush                 4
11  Beautiful Firetail             4
12  Bell Miner                     5
13  Black Butcherbird              1
14  Black Currawong               12
15  Black-chinned Honeyeater       3
16  Black-faced Cuckoo-shrike      4
17  Black-faced Monarch            1
18  Blue-faced Honeyeater         49
19  Blue-winged Kookaburra         1
20  Brown Cuckoo-dove             17
21  Brown Gerygone                 6
22  Brown Goshawk                  1
23  Brown Honeyeater              60
24  Brown Thornbill               93
25  Brown Treecreeper              8
26  Brown-headed Honeyeater       21
27  Brush Bronzewing               5
28  Brush Wattlebird              18
29  Buff-banded Rail               3
30  Buff-rumped Thornbill         15
â‹®   â‹®                            â‹®
140 Tete                           1
141 Topknot Pigeon                16
142 Torresian Crow                22
143 Varied Triller                 1
144 Variegated Fairy-wren         23
145 Weebill                       10
146 Welcome Swallow                1
147 Western Gerygone               2
148 White-browed Scrubwren        73
149 White-cheeked Honeyeater      18
150 White-eared Honeyeater        23
151 White-faced Heron              3
152 White-headed Pigeon           43
153 White-naped Honeyeater        23
154 White-plumed Honeyeater       34
155 White-throated Gerygone        2
156 White-throated Honeyeater      9
157 White-throated Treecreeper    26
158 White-winged Chough            8
159 Wild Duck                      9
160 Willie Wagtail               114
161 Wonga Pigeon                  12
162 Wood Teal                      3
163 Yellow Rosella                 4
164 Yellow Thornbill              22
165 Yellow-faced Honeyeater       91
166 Yellow-rumped Thornbill       18
167 Yellow-tailed Black-cockatoo  10
168 Yellow-throated Scrubwren      4
169 Yellow-tufted Honeyeater       3

ERROR: Error in desc(total_bird_count): object 'total_bird_count' not found

In [29]:
top15_bird_types = df_birdbath |>
    filter(urban_rural %in% c('Urban', 'Rural')) |>
    group_by(bird_type) |>
    summarize(total_bird_count = sum(bird_count, na.rm = TRUE)) |>
    arrange(desc(total_bird_count)) 
    # slice_max(total_bird_count, n = 15) |> 
    # pull(bird_type) 

top15_bird_types |> head ()

  bird_type         total_bird_count
1 Noisy Miner       292
2 Australian Magpie 262
3 Rainbow Lorikeet  235
4 Red Wattlebird    171
5 Superb Fairy-wren 170
6 Magpie-lark       160

1. Create a table of just the top birds using the vector of top 15 bird types to filter. Exclude rows with `NA` vlues for `urban_rural`.
1. Group by `bird_type` and `urban_rural` and find the mean `bird_count` for each group.
1. Sort the factor levels for `bird_type` by `bird_count` value at `Rural` baths.
1. Capture the output of these operations under a new variable.

Your final table will have three columns: 1) `bird_type`, 2) `urban_rural` and 3) `mean_bird_count`

In [25]:
df_birdbath |>
    filter(bird_type %in% top15_bird_types, urban_rural %in% c('Urban', 'Rural')) |>
    group_by(bird_type, urban_rural) |>
    summarize(total_bird_count = sum(bird_count, na.rm = TRUE))

`summarise()` has grouped output by 'bird_type'. You can override using the
`.groups` argument.

   bird_type          urban_rural total_bird_count
1  Australian Magpie  Rural        76
2  Australian Magpie  Urban       186
3  Crested Pigeon     Rural        28
4  Crested Pigeon     Urban        97
5  Crimson Rosella    Rural        66
6  Crimson Rosella    Urban        89
7  Eastern Spinebill  Rural        87
8  Eastern Spinebill  Urban        66
9  Grey Fantail       Rural        83
10 Grey Fantail       Urban        40
11 Lewin's Honeyeater Rural        83
12 Lewin's Honeyeater Urban        50
13 Magpie-lark        Rural        33
14 Magpie-lark        Urban       127
15 Noisy Miner        Rural        59
16 Noisy Miner        Urban       233
17 Pied Currawong     Rural        32
18 Pied Currawong     Urban       125
19 Rainbow Lorikeet   Rural        40
20 Rainbow Lorikeet   Urban       195
21 Red Wattlebird     Rural        35
22 Red Wattlebird     Urban       136
23 Red-browed Finch   Rural        77
24 Red-browed Finch   Urban        40
25 Satin Bowerbird    Rural        42
26 Satin Bowerbird    Urban        89
27 Spotted Dove       Rural        11
28 Spotted Dove       Urban       140
29 Superb Fairy-wren  Rural       107
30 Superb Fairy-wren  Urban        63

Make a "Urban"/"Rural" [Cleveland dot chart](https://uc-r.github.io/public/images/visual/cleveland-dotplots/unnamed-chunk-10-1.png) figure with your new table.

If we want to add "segments" to our dot chart, we need to re-shape our data into "wide" format. Specifically we want to have "Urban" and "Rural" as **columns** instead of **values**.

Use `pivot_wider` to make this wide table, capture it, and use `geom_segment` in combination with your wide table to add segments to your Cleveland dot chart from above ðŸ‘†.

(Uncomment the code and make the cell below markdown to see my solution.)

In [ ]:
# ![](https://github.com/chuckpr/BIOS512/blob/main/in-class-exercises/12/12_01_pivot_chart.png?raw=true)